@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');
.header-bedroom{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:80vh;
    width:100vw;
    text-align: center;
    font-family: 'Joan', serif;
}
.header-bedroom img{
    width:200px;
}
.header-bedroom h1{
    font-size: 48px;
    color: white;
}
.header-bedroom h4{
    font-size: 16px;
    color: white;
}
.header-bedroom label{
    font-family: 'Joan',serif;
    font-size: 22px;
}
.header-bedroom h6{
    margin-top: 20vh;
    color:black;
}
.header-bedroom a{
    font-family: 'Joan',serif;
    background-color: #009E60;
    padding: 12px 30px;
    margin-top: 80px !important;
    color:white;
border-radius: 10px;
}