@media screen and (min-width:600px) {
    .mobile-form{
        display: none;
    }
}
@media screen and (max-width:600px) {
    .wrapperForHeader .meetDesignerForm{
        display: none;
    }
    .bannerHead{
        background-position: 50%;
    }
    .bestPrices{
        margin-top:100px;
        margin-left: 50px;
    }
    .servicesProvided label{
        width:110%;
        margin-top:300px;
    }
    .bestPrices h1{
        font-size: 28px;
    }
    .bestPrices h4{
        font-size: 24px;
        margin-top: -10px;
        font-weight: 400;
    }
    .meetDesignerForm form{
        width: 100vw;
    }
}