*{
    margin:auto;
    box-sizing: border-box;
}

 .nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100vw;
    background:rgb(229, 228, 226);
    height:60px;
}
.menus a{
    margin-left:20px;
}