*{
    margin:auto;
    box-sizing: border-box;
}

 .nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100vw;
    background:red;
    height:250px;
}
.menus a{
    margin-left:20px;
}