*{
    margin:auto;
    box-sizing: border-box;
}

nav .nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    width:100vw;
    background:red;
}
.menus .a{
    margin-left:20px;
}